 body {
    background: url("https://www.benefsnet.com/images/cms/film.gif") no-repeat fixed  ;


}
section{
    margin-bottom: 10%;
}


header {
    padding: 30px 0;
  
}

header h1 {
   margin-bottom: 5%;
   margin-top: 5%;

    font-size: 40px;
    text-align: center;
    color:gray;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Limelight', sans-serif;
}