 body {
    background-image: url("https://www.iphon.fr/app/uploads/2019/09/iphone-11-white-iphone-8-7-6.jpg");


}


header {
    padding: 30px 0;
  
}

header h1 {
   margin-bottom: 5%;
   margin-top: 5%;

    font-size: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Limelight', sans-serif;
}